<html>

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
   <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
   <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
   <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    {% load static %}
    <link rel="stylesheet" href="{% static "sticky-footer.css" %}" />
</head>

<body>
   <div class="navbar navbar-default navbar-static-top">
      <div class="container">
         <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a
               class="navbar-brand" href="{% url 'home' %}"><span>Vigilantes</span><br></a>
         </div>
         <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
               {% if user.is_authenticated %}
                  {% if user.type == "Hotel Staff" %}
                    <li><a href="{% url 'approve' %}">Approve</a></li>
                  {% endif %}
               <li><a href="{% url 'mypage' %}">{{user.username}}</a></li>
               <li><a href="{% url 'logout' %}">Logout</a></li>
               {% elif user.user.is_authenticated %}
                  {% if user.type == "Hotel Staff" %}
                    <li><a href="{% url 'approve' %}">Approve</a></li>
                  {% endif %}
               <li><a href="{% url 'mypage' %}">{{user.user.username}}</a></li>
               <li><a href="{% url 'logout' %}">Logout</a></li>
               {% else %}
               <li><a href="{% url 'login' %}">Login</a></li>
               <li><a href="{% url 'register' %}">Register</a></li>
               {% endif %}
            </ul>
         </div>
      </div>
   </div>
   {% block content %} {% endblock %}
   <footer class="section section-primary">
      <div class="container">
         <div class="row">
            <div class="col-sm-6">
               <h1>Vigilantes.com</h1>
               <p></p>
            </div>
            <div class="col-sm-6">
               <p class="text-info text-right"> <br><br></p>
               <div class="row">
                  <div class="col-md-12 hidden-lg hidden-md hidden-sm text-left"> <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a> <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a> <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a> <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>                     </div>
               </div>
               <div class="row">
                  <div class="col-md-12 hidden-xs text-right"> <a href="#"><i class="fa fa-3x fa-fw fa-instagram text-inverse"></i></a> <a href="#"><i class="fa fa-3x fa-fw fa-twitter text-inverse"></i></a> <a href="#"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a> <a href="#"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>                     </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
</body>

</html>
