{% extends 'base.html' %}
{% block content %}
        <div class="section">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <h1>Reserve a room</h1>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <hr>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <form class="form-horizontal" role="form" method="post" action="{% url 'home' %}">
                      {% csrf_token %}
                     <div class="form-group">
                        <div class="col-sm-2"><label for="checkin" class="control-label">Checkin<br></label></div>
                        <div class="col-sm-10"><input type="date" class="form-control" id="checkin" name="checkin"></div>
                     </div>
                     <div class="form-group">
                        <div class="col-sm-2"><label for="checkout" class="control-label">Checkout</label></div>
                        <div class="col-sm-10"><input type="date" class="form-control" id="checkout" name="checkout"></div>
                     </div>
                     <div class="form-group">
                        <div class="col-sm-2"><label for="roomtype" class="control-label">Room type</label></div>

                        <div class="col-sm-10">
                                <select class="form-control" id="roomtype" name="roomtype">
                                    <option value="King">King</option>
								    <option value="Double">Double</option>
								    <option value="Single">Single</option>
								</select>
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="col-sm-2"><label for="roomnumber" class="control-label"># room</label></div>
                        <div class="col-sm-10"><input type="number" class="form-control" id="roomnumber" name="number" value="1"></div>
                     </div>
                     <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10"><button type="submit" class="btn btn-default">Search</button></div>
                     </div>
                  </form>
               </div>
               <div class="col-md-6">
                  <ul class="media-list">
                      {% for room in rooms %}
                     <li class="media">
                        <a class="pull-left" href="#"><img class="media-object" src="http://pingendo.github.io/pingendo-bootstrap/assets/placeholder.png" height="64" width="64"></a>
                        <div class="media-body">
                           <h4 class="media-heading">{{ room.type }}</h4>
                           <p>Price: {{  room.price }} KRW / night<br>Facility: Refrigerator</p>
                           <a class="btn btn-primary" href="{% url 'reserve' room.id checkin checkout number %}">Reserve</a><br><br>
                        </div>
                     </li>
                      {% endfor %}
                  </ul>
               </div>
            </div>
         </div>
      </div>
        <script>
        document.getElementById("checkin").valueAsDate = new Date();
        document.getElementById("checkout").valueAsDate = new Date();
        </script>
{% endblock %}
