{% extends 'base.html' %}

{% block content %}
    <div class="section">
            <div class="container">
                    {% if register == True %}
                        {{ message }}
                    {% endif %}
                <div class="row">
                    <div class="col-md-12">
                        <h1>Login</h1>
                    </div>
                </div>
                {% if register == True %}
                <a class="btn btn-default" href="{% url 'login' %}">Login</a>
                {% else %}
                     <div class="row">
                    <div class="col-md-12"><form class="form-horizontal" method="post" role="form">{% csrf_token %}{{ form.as_p }}<button type="submit" class="btn btn-default" contenteditable="true">Login</button><a href="{% url 'social:begin' 'facebook' %}" style="margin-left: 14px"><button class="btn btn-primary" type="button"><span>or login with Facebook</span></button></a>
</form></div>
                </div>
                {% endif %}
            </div>
        </div>
{% endblock %}
