{% extends 'base.html' %}
{% block content %}
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Confirm reservation</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <h3 class="text-primary">Order</h3>
            <table class="table">
              <tbody>
                <tr>
                  <td>Check-in</td>
                  <td>{{ reservation.checkin }}</td>
                </tr>
                <tr>
                  <td>Check-out</td>
                  <td>{{ reservation.checkout }}</td>
                </tr>
                <tr>
                  <td>Room type</td>
                  <td>{{ reservation.room.type }}</td>
                </tr>
                <tr>
                  <td># Room</td>
                  <td>{{ reservation.number }}</td>
                </tr>
              </tbody>
            </table>
            <h3 class="text-primary">Discount</h3>
            <p>We provide a coupon to thnak you for using our hotel more than 5 times
              or 10 rooms. Please select your coupon</p>
            <div class="btn-group">
            {% if reservation.coupon == None %}
                {% for coupon in coupons %}
                    <a href="{% url 'apply_coupon' reservation.id coupon.id %}" class="btn btn-default">Coupon #{{ coupon.id}} Valid until: {{ coupon.valid_until }}</a>
                {% endfor %}
            {% endif %}
            </div>
            <h3 class="text-primary">Total</h3>
            <p>${{ reservation.room.price }} ({{ reservation.room.type }}) X {{ reservation.number }} Room = ${{ total_price }}</p>
          {% if reservation.coupon != None %}
              <p>Applied coupon: Coupon#{{ reservation.coupon.id }}</p>
              <p>Discounted price: {{ discounted_price }}</p>
          {% endif %}
          </div>
          <div class="col-md-6">
            <h3 class="text-primary">Payment information</h3>
            <form role="form" class="form-horizontal" method="post" action="{% url 'pay' reservation.id %}">
                {% csrf_token %}
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputEmail3" class="control-label">Card #</label>
                </div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputEmail3" name="card">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputPassword3" class="control-label">CVC</label>
                </div>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword3" name="cvc">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-2">
                  <label for="inputPassword3" class="control-label">Name</label>
                </div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputPassword3" name="name">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox">I have read and agree with the term of use</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Pay</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}